{
  "env": {
    "browser": true,
    "es6": true
  },
  "root": true,
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:import/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": ["import", "jsx-a11y", "react", "unused-imports"],
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      },
      "rules": {
        "react/react-in-jsx-scope": "off",
        "react/no-unknown-property": "off",
        "no-console": "warn",
        "react/jsx-sort-props": "error",
        "lines-between-class-members": [
          "error",
          "always",
          {
            "exceptAfterSingleLine": true
          }
        ],
        "no-void": [
          "error",
          {
            "allowAsStatement": true
          }
        ],
        "padding-line-between-statements": [
          "error",
          {
            "blankLine": "always",
            "prev": "*",
            "next": "return"
          }
        ],
        "unused-imports/no-unused-imports": "error",
        "react/function-component-definition": [
          "error",
          {
            "namedComponents": "arrow-function",
            "unnamedComponents": "arrow-function"
          }
        ],
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "vars": "all",
            "args": "after-used",
            "argsIgnorePattern": "_",
            "ignoreRestSiblings": false,
            "varsIgnorePattern": "_"
          }
        ],
        "import/extensions": [
          "error",
          "ignorePackages",
          {
            "js": "never",
            "jsx": "never",
            "ts": "never",
            "tsx": "never",
            "astro": "never"
          }
        ],
        "react/jsx-filename-extension": [
          "error",
          {
            "extensions": [".jsx", ".tsx", ".astro"]
          }
        ],
        "import/order": [
          "error",
          {
            "alphabetize": {
              "order": "asc",
              "caseInsensitive": true
            }
          }
        ]
      }
    }
  ]
}
