<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <title>Astro</title>
  </head>
  <body>
    <div class="bg-white py-24">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <slot />
      </div>
    </div>
  </body>
</html>
